<div class="ui pointing menu">
    <a class="item" href="#">NodeTunes</a>
    <a href="/" class="item">Artists</a>
    <a href="/newartist" class="item">Create artist</a>
    <a href="/albums/newalbum" class="item">Create Album</a>
</div>
